<html>
    <head>
        <link href="public/css/style.css" rel="stylesheet">
    </head>
    <body>
        Home: {{text}}

        <button onclick="onClick()">
            Send Message
        </button>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js"></script>
        <script>
            //var socket = io();
            var nsp = io('/chat',{
                query: {
                    token: 'token abc123'
                }
            });
            nsp.on('error',(error)=>{
                console.log(error);
            })
            nsp.on('welcome',(data)=>{
                console.log(data)
            });
            nsp.on("stats",(stats)=>{
                console.log(stats);
            });
            nsp.on('joined',(data)=>{
                console.log(data);
            });
            nsp.on('leaved',(data)=>{
                console.log(data);
            });
            nsp.emit("message","Hi, I'm a client from namespace");

            nsp.emit('join',"I'm in");
            var cont=1;
            function onClick(){
                nsp.emit("message",'Message #'+(cont++));
            }

            setTimeout(function(){
                nsp.disconnect();
            },10000);
            
        </script>
    </body>
</html>