.container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex: 1;
}
.error-container{
    width: 80%;
    height: 80%;
    border: solid 1px #ccc;
    padding: 20px;
    border-radius: 4px;
    background-color: #fefefe;
    box-shadow: 5px 5px 20px 1px #b7b7b7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-container.background-not-allowed{
    background-image: url('https://www.iconspng.com/images/worn-forbidden-sign/worn-forbidden-sign.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 360px;
}
.error-container .error-code{
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    padding: 100px;
}
.error-container .error-code .code{
    font-size: 6vw;
    font-weight: bold;
}
.error-container .error-code .error-title{
    font-size: 4vw;
}
.error-container .error-message{
    font-style: italic;
    font-size: 12px;
}